@model IEnumerable<CalidadSoftware.Models.Empleado>

@{
    /**/

    ViewBag.Title = "Index";
    var numero = Model.Count();
}

<h2 class="page-header">Lista de Empleados <small>@numero empleados registrados</small></h2>

@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-danger">@ViewBag.Message</div>
    }
}

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<div class="col-md-5 text-right">
    @using (Html.BeginForm())
    {
        <p>
            Buscar por Nombre: @Html.TextBox("nomBusqueda")
            <input type="submit" value="Buscar" />
        </p>
    }
    @using (Html.BeginForm())
    {
        <p>
            Buscar por Experiencia: @Html.TextBox("expBusqueda")
            <input type="submit" value="Buscar" range="0,15" message="Por favor ingrese un numero" validate="integer" />
        </p>
    }
    @using (Html.BeginForm())
    {
        <p>
            Buscar por Profesión: @Html.TextBox("profBusqueda")
            <input type="submit" value="Buscar" />
        </p>
    }

</div>


<table id="tablaEmpleado" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.foto)
            </th>
            <th>RUT</th>

            <th>
                @Html.DisplayNameFor(model => model.dv_rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_nac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.experiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.users.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @{

                        var img = @Html.DisplayFor(modelItem => item.foto);

                        <img src="~/img/@img" height=50px width=50px />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rut_empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dv_rut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_nac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.profesion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.experiencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.users.user)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.rut_empleado }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.rut_empleado }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.rut_empleado })
                </td>
            </tr>

        }
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#tablaEmpleado').DataTable();

});

    </script> 

}