@model CalidadSoftware.Models.Contrato
@using CalidadSoftware.Providers;
@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_contrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_contrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria_Empleado.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria_Empleado.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.rut_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.rut_empleado)
        </dd>

        <dt>
            Valor Hora
        </dt>

        @*-----Valor Hora-----*@
        @{
            var query = (from c in Model.Empleado.Valor_Hora where c.id_empleado.Equals(Model.Empleado.rut_empleado) select new { c.valor_hora1, c.horas_trabajadas, }).FirstOrDefault();

            if (query != null)
            {
                <dd>$ @query.valor_hora1</dd>
            }
            else
            {
                <dd>No definido</dd>
            }
        }

        <dt>
            Sueldo Bruto
        </dt>
        @{
            int sueldo_bruto = query.horas_trabajadas * query.valor_hora1;
            <dd>$ @sueldo_bruto</dd>
        }

        <dt>
            Bonificación
        </dt>
            
        @{
             Sueldo Calculos = new Sueldo();
             var bono = Calculos.Calc_Bonificacion(sueldo_bruto,0,Model.Empleado.experiencia,0);
             <dd>$ @bono</dd>
        }

            <dt>
                Descuento
            </dt>
            @{
                var descuento = Calculos.Calc_Descuento(query.horas_trabajadas * query.valor_hora1);
                <dd>$ @descuento</dd>
            }

            <dt>
                Sueldo Liquido
            </dt>
            @{
               double Sueldo_liq = (sueldo_bruto + bono - descuento);
               <dd>$ @Sueldo_liq</dd>
            }


        </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.id_contrato }) |
            @Html.ActionLink("Volver", "Index")
        </p>
