@model CalidadSoftware.Models.Contrato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_contrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_contrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria_Empleado.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria_Empleado.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.rut_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.rut_empleado)
        </dd>

        <dt>
            Valor Hora
        </dt>

        <dd>

            @{
                // int valor_hora = Model.Empleado.Valor_Hora.Select(x => x.id_empleado == 18256644);
                //var res = products.select(x => x.Id).ToArray();


                var item2 = Model.Empleado.Valor_Hora.SingleOrDefault(x => x.id_empleado == 18256644);


                var query = (from c in Model.Empleado.Valor_Hora where c.id_empleado.Equals(18256644) select new { c.valor_hora1 }).Single();


                }

        
            @query.valor_hora1
          

        </dd>






    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_contrato }) |
    @Html.ActionLink("Back to List", "Index")
</p>
