@model IEnumerable<CalidadSoftware.Models.Contrato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ini)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_contrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria_Empleado.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.rut_empleado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_ini)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_Empleado.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.rut_empleado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_contrato }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_contrato })
            </td>
        </tr>
    }

</table>
