<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="Scripts/DataTables/datatables.min.css" />
    
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-fluid">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Sistema de Registro de Clientes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="/Empleadoes/Index">Registrar Empleado</a></li>
                            <li><a href="/users/Index">Crear Perfil</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href=" /home/Logout"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></li>


                        </ul>
                    }

                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fu & Ze Solutions.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="Scripts/DataTables/datatables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
